@model SolutionPersonnelleTemplate.Models.ViewModels.MessageViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Modifier le message</h2>

<h4>Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Message.MessageID" />
            <div class="form-group">
                <label asp-for="Message.Titre" class="control-label"></label>
                <input asp-for="Message.Titre" class="form-control" />
                <span asp-validation-for="Message.Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message.Contenu" class="control-label"></label>
                <textarea asp-for="Message.Contenu" cols="80" rows="10" class="form-control"></textarea>
                <span asp-validation-for="Message.Contenu" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*Pour l image*@
                <label class="control-label">Image de garde</label><br />
                <input id="Message.UrlMedia" name="Message.UrlMedia" value="@ViewBag.ImgPath" type="hidden" />
                <img src="@ViewBag.ImgPath" class="img-responsive" /><br />
            </div>
            @*Pour l image changer d'image avatar*@
            <div class="form-group">
                <label class="control-label">Changer son Image de garde</label><br />
                <input type="file" name="user_image" id="user_image" />
            </div>

            <div class="form-group">
                <input asp-for="Message.HistoireID" type="hidden" />
                <input type="submit" value="Mettre à jour" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Message" asp-route-histoireID="@ViewData["HistoireID"]">Retour au recueil </a>
</div>

