@model SolutionPersonnelleTemplate.Models.ViewModels.CreerSonHerosViewModel

@{
    ViewData["Title"] = "Creer Son Heros";
}

<h2>CreerSonHeros</h2>

<h4>Partie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreerSonHeros">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="UtilisateurID" class="control-label"></label>
            <select asp-for="UtilisateurID" class ="form-control" asp-items="ViewBag.UtilisateurID"></select>
        </div>*@
            @*<div class="form-group">
            <label asp-for="HistoireID" class="control-label"></label>
            <select asp-for="HistoireID" class ="form-control" asp-items="ViewBag.HistoireID"></select>
        </div>*@

            <div class="form-group">
                <label asp-for="Heros.Nom" class="control-label"></label>
                <input asp-for="Heros.Nom" class="form-control" />
                <span asp-validation-for="Heros.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Heros.Force" class="control-label"></label>
                <input asp-for="Heros.Force" class="form-control" />
                <span asp-validation-for="Heros.Force" class="text-danger"></span>
            </div>        
            <div class="form-group">
                <label asp-for="Heros.Constitution" class="control-label"></label>
                <input asp-for="Heros.Constitution" class="form-control" />
                <span asp-validation-for="Heros.Constitution" class="text-danger"></span>
            </div>           
            <div class="form-group">
                <label asp-for="Heros.Dexterite" class="control-label"></label>
                <input asp-for="Heros.Dexterite" class="form-control" />
                <span asp-validation-for="Heros.Dexterite" class="text-danger"></span>
            </div>          
            <div class="form-group">
                <label asp-for="Heros.Intelligence" class="control-label"></label>
                <input asp-for="Heros.Intelligence" class="form-control" />
                <span asp-validation-for="Heros.Intelligence" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Heros.Charisme" class="control-label"></label>
                <input asp-for="Heros.Charisme" class="form-control" />
                <span asp-validation-for="Heros.Charisme" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input asp-for="Histoire.HistoireID" value="@ViewBag.HistoireID" type="hidden" />
                <input asp-for="Utilisateur.ApplicationUserID" value="@ViewBag.ApplicationUserID" type="hidden" />

                <input type="submit" value="Go !" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

