@model SolutionPersonnelleTemplate.Models.ViewModels.CreerSonHerosViewModel


@{
    ViewData["Title"] = "CreerSonHeros";
}

<h2>CreerSonHeros</h2>

<h4>Personne</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreerSonHeros">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Heros.Nom" class="control-label"></label>
                <input asp-for="Heros.Nom" class="form-control" />
                <span asp-validation-for="Heros.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Heros.SexePersonnage" class="control-label"></label>
                @Html.DropDownListFor(M => M.Heros.SexePersonnage, ViewBag.EnumListSexe as SelectList, "--Sélectionnez un sexe--", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="Heros.ClasseDuPersonnage" class="control-label"></label>
                @Html.DropDownListFor(M => M.Heros.ClasseDuPersonnage, ViewBag.EnumListClasse as SelectList, "--Sélectionnez une classe--", new { @class = "form-control" })
                <span asp-validation-for="Heros.ClasseDuPersonnage" class="text-danger"></span>
            </div>

            
            <div class="form-group">
                <label asp-for="Heros.Force" class="control-label"></label>
                <p>Mesure : la puissance physique, l'aptitude athlétique naturelle</p>
                <p>Important pour : Guerrier</p>
                 <input asp-for="Heros.Force" class="form-control" />
                <span asp-validation-for="Heros.Force" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Heros.Dexterite" class="control-label"></label>
                <p>Mesure : l'agilité, les réflexes</p>
                <p>Important pour : Roublard</p>
                <input asp-for="Heros.Dexterite" class="form-control" />
                <span asp-validation-for="Heros.Dexterite" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Heros.Constitution" class="control-label"></label>
                <p>Mesure : la santé, l'endurance, la force vitale</p>
                <p>Important pour : Toutes les classes</p>
                <input asp-for="Heros.Constitution" class="form-control" />
                <span asp-validation-for="Heros.Constitution" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Heros.Intelligence" class="control-label"></label>
                <p>Mesure : l'acuité mentale, le raisonnement, la mémoire</p>
                <p>Important pour : Magicien</p>
                <input asp-for="Heros.Intelligence" class="form-control" />
                <span asp-validation-for="Heros.Intelligence" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Heros.Sagesse" class="control-label"></label>
                <p>Mesure : la perception, l'intuition, la perspicacité</p>
                <p>Important pour : Clerc</p>
                <input asp-for="Heros.Sagesse" class="form-control" />
                <span asp-validation-for="Heros.Sagesse" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Heros.Charisme" class="control-label"></label>
                <p>Mesure : la force de personnalité, l'éloquence, le leadership</p>
                <p>Important pour : les leaders</p>
                <input asp-for="Heros.Charisme" class="form-control" />
                <span asp-validation-for="Heros.Charisme" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Histoire.HistoireID" type="hidden" value="@ViewBag.HistoireID" />
                <input asp-for="Utilisateur.ApplicationUserID" type="hidden" value="@ViewBag.ApplicationUserID" />
                <input type="submit" value="Créer" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Histoire">Retour au codex</a>
</div>

