@model SolutionPersonnelleTemplate.Models.BO.Message

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titre" class="control-label"></label>
                <input asp-for="Titre" class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contenu" class="control-label"></label>
                <input asp-for="Contenu" class="form-control" />
                <span asp-validation-for="Contenu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlMedia" class="control-label"></label>
                <input asp-for="UrlMedia" class="form-control" />
                <span asp-validation-for="UrlMedia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MessageEnfant1" class="control-label"></label>
                <input asp-for="MessageEnfant1" class="form-control" />
                <span asp-validation-for="MessageEnfant1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroMessageEnfant1" class="control-label"></label>
                <input asp-for="NumeroMessageEnfant1" class="form-control" />
                <span asp-validation-for="NumeroMessageEnfant1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MessageEnfant2" class="control-label"></label>
                <input asp-for="MessageEnfant2" class="form-control" />
                <span asp-validation-for="MessageEnfant2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroMessageEnfant2" class="control-label"></label>
                <input asp-for="NumeroMessageEnfant2" class="form-control" />
                <span asp-validation-for="NumeroMessageEnfant2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MessageEnfant3" class="control-label"></label>
                <input asp-for="MessageEnfant3" class="form-control" />
                <span asp-validation-for="MessageEnfant3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroMessageEnfant3" class="control-label"></label>
                <input asp-for="NumeroMessageEnfant3" class="form-control" />
                <span asp-validation-for="NumeroMessageEnfant3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HistoireID" class="control-label"></label>
                @*<select asp-for="HistoireID" class="form-control" asp-items="ViewBag.HistoireID"></select>*@
                @Html.DropDownList("JobTitle", "Select a Value")
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

