@{
    ViewData["Title"] = "A propos";
}
<div class="row">
    <h2 class="text-center">Le pourquoi du comment ? </h2>
    <br />
    <h4>Lorsque j'étais tout jeune, il y a quelques années (bon ok !! quelques dizaines d'années) de cela, j'avais découvert lors de mes lectures un type un peu bizare de livre. </h4>
    <h4>Un type de livre où on étais pas seulement spectateur de l'histoire mais un livre où on prenait partie prenante à l'aventure : le livre dont vous êtes le héros.</h4>

    <p>Ce site a pour but de faire revivre ces merveilleux moment passés d'une façon 2.0.</p>
    <p>Accessible partout, sans besoin de dés, de fiche, de crayon...</p>
    <p>Vous choississez votre aventure, vous y prenez part, vous pouvez même l'imprimer lorsqu'elle est finie pour en conserver une trace et compléter votre propre grimoire ! </p>
    <p></p>
    <p>Si vous vous sentez l'âme d'un scribe, vous pouvez créer votre aventure pour qu'elle soit jouée par les aventuriers du monde entier !</p>
    <p>Et bine d'autres choses sont dans les cartons...</p>
</div>
